@font-face {
    font-family: odin;
    src: url(Norse-Bold.woff2);
}

body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-y: hidden;
    flex:auto;
}

.image-container{
    position:relative;
    text-align:center;
    width:30%;

}

.image-container > .credit{
    position: absolute;
            bottom: 10%;
            right:30%;
            color: white;
            font-size: 1rem;
}

.image-container > .odin > img{
    height: 20%;
    width: 20%;
}

.image-container > .odin{
    position:absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    background-color:rgba(0,0,0,0.65);
    font-family:odin, sans-serif;
    font-size:6rem;
    display:flex;
    justify-content: center;
}

.odin{
    background-color: rgba(0,0,0,0.65);
    width:100%;
}

.credit>a{
    color:lightcoral;
    text-decoration:none;
}

img{
    width:100%;
    height:100vh;
}

.container{
    display:flex;
    height:100%;
}



.form-container{
    display:flex;
    flex-direction:column;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
    padding-left:1rem;
    margin-bottom:20px;
    flex:1;

}

.second-side{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    width:100%;
    flex:1;
}

p{
    font-weight: bold;
    padding-left:2rem;
}

.form-name,
.form-contact,
.form-password{
    display:flex;
}

.form-first-name,
.form-last-name,
.form-phone,
.form-email,
.form-password-one,
.form-password-two{
    display:flex;
    flex-direction:column;
    padding:1rem;
}

label{
    display:inline-block;
    font-family:monospace;
}

.button-confirm{
    display:flex;
    flex-direction:column;
    margin-bottom:50px;
    margin-left:30px;
    gap:20px;
}

button{
    padding:10px 40px;
    background-color: green;
    color:white;
    border:none;
    border-radius: 3px;
    align-self:flex-start;
    
}

button:hover{
    background-color: rgb(138, 179, 138);
}

input:invalid{
    border: 2px solid red;
    
}

input:focus{
    background-color: #b4d6f9;
}

.valid{
    border: 1px solid green;
}